main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square{
    border: 1px gray solid;
    height: 200px;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}